@import "../../global/base.sass"

.root
  height: 100vh

.header
  position: absolute
  top: 45%
  text-align: center
  width: 100%
  color: $font-color
  font-size: 36px
  -ms-transform: translate(0, -50%)
  -webkit-transform: translate(0, -50%)
  transform: translate(0, -50%)

.downward
  bottom: 5%
  text-align: center
  width: 100%
  position: absolute
  color: $font-color
  font-weight: bold
  font-size: 36px